<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>API Capstone</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/index.css">
</head>
<body>
	<section role="search" class="landing-page">
		<header class="header">
			<div class="header__text-box">
				<h1 class="heading-primary">
					<span class="heading-primary--main">Close To Home</span>
					<span class="heading-primary--sub">Find great child care near you</span>
				</h1>
				<form action="#" class="js-search-form">
					<label for="address"></label>
					<input name="q" type="search" id="address" class="js-query" placeholder="Enter address or zip" required>
					<input type="submit" role="button" class="search-btn" value="Search">
				</form>
			</div>
		</header>
	</section>
	<div class="results-page" aria-live="polite">
		<aside class="sidebar" >
			<div class="show-results" id="show-results">
				<section class="results-container">
					<ul class="results" id="results"></ul>
				</section>
			</div>
			<button type="button" class="close-bar btn">Close</button>
		</aside>
		<div id="map"></div>
		<nav class="new-search">
			<a href="#" role="button" class="btn btn--white btn--animated new-search-btn">Start new search</a>
			<a href="#" role="button" class="show-bar btn btn--white btn--animated">Show sidebar</a>
		</nav>
	</div>
	<script src="../public/index.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1_0d71jYnnDc9PCGNG7ulYOrhYQVNgQY&q"></script>	
</body>
</html>