<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>API Capstone</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/index.css">
</head>
<body>
	<section class="landing-page">
		<header class="header">
			<div class="header__text-box">
				<h1 class="heading-primary">
					<span class="heading-primary--main">Close To Home</span>
					<span class="heading-primary--sub">Find child care near you</span>
				</h1>
				<a href="#" class="btn btn--white btn--animated">Search</a>
			</div>
		</header>
	</section>
	<section class="search-page">
		<header class="header">
			<div class="header__text-box">
				<h1 class="heading-primary">
					<span class="heading-primary--main">Enter address</span>
					<span class="heading-primary--sub">(Including city and state)</span>
				</h1>
			</div>
		</header>
		<form action="#" class="js-search-form">
			<label for="query"></label>
			<input type="text" id="address" class="js-query" placeholder="Address, city/state" aria-label="search" required>
			<button type="submit">Submit</button>
		</form>
	</section>
	<section class="results-page">
		<div class="sidebar">
			<div class="show-results">
				<ul class="results" id="results"></ul>
			</div>
		</div>
		<div id="map"></div>
		<div id="directions-panel"></div>
		<a href="#" class="btn btn--white btn--animated new-search">Start new search</a>
	</section>
	<script src="../public/index.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1_0d71jYnnDc9PCGNG7ulYOrhYQVNgQY&q"
  type="text/javascript"></script>	
</body>
</html>