* {
	/*margin: 0;
	padding: 0;*/
/*	box-sizing: border-box;*/
}

html {
	background: url(../public/assets/StockSnap_UNBCSLVVVY.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top;
/*	background-image: radial-gradient(
		rgba(72, 105, 137, 0.6), 
		rgba(72, 144, 156, 0.6));*/
}
body {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.landing-page {
	/*height: 100vh;*/
/*	background-image: linear-gradient(
		to right bottom, 
		rgba(72, 105, 137, 0.6), 
		rgba(72, 144, 156, 0.6)), */
	/*url(http://placehold.it/350x150);
	background-size: cover;
	background-position: top;*/
}

.results-page {
  height: 100vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba(72, 105, 137, 0.6), 
		rgba(72, 144, 156, 0.6)), 
	url(../public/assets/StockSnap_UNBCSLVVVY.jpg);
	background-size: cover;
	background-position: top;
	/*position: relative;*/
	overflow: hidden;
}

.header__text-box {
	/*position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	text-align: center;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	backface-visibility: hidden;
	/*margin-bottom: 60px;*/
}

.heading-primary--main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 39px;
/*	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;*/
}

.heading-primary--sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 9.4px;
	/*animation: moveInRight 1s ease-out;*/
}

.js-search-form {
/*	display: flex;
	justify-content: center;
	margin-bottom: 20px;*/
}

input {
	/*height: 40px;
	padding: 5px;*/
	font-size: 1.4em;
	font-family: 'Karla', sans-serif;
	color: #004055;
	text-align: center;
}

input::placeholder {
	color: #004055;
	font-weight: 600;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

button {
/*	width: 60px;
	height: 40px;
	margin-left: 10px;*/
}

.sidebar {
/*    height: 100%;*/ 
    /*width: 320px; */
  /*  position: fixed; 
    z-index: 1;
    top: 0;
    right: 0;*/
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    animation: moveInRight .5s ease-out;
    color: #004055;
    /*display: flex;
    justify-content: center;*/
}

.show-results, 
.results-container,
.adp, 
.results {
	/*width: 320px;
	height: 100%;*/
}

.show-results,
.adp {
	position: relative;
	overflow: hidden;
}

.results-container,
.adp {
	/*position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;*/
}

.results {
/*	padding: 20px 40px;*/
}

.close-bar {
  /*	margin-top: 22px;
  	margin-right: 5px;*/
}

#map {
/*	height: 90vh;*/
}

.new-search {
/*	margin-top: 10px;*/
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	/*padding: 15px 40px;
	display: inline-block;*/
	border-radius: 100px;
	transition: all .2s;
/*	position: relative;*/
	font-size: 1.2em;
}

.btn:hover {
	/*transform: translateY(-3px);*/
	box-shadow: 0 10px 20px rgba(0,0,0,.2); 
}

.btn:active {
/*	transform: translateY(-1px);*/
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn::after {
	content: "";
	/*display: inline-block;
	height: 100%;
	width: 100%;*/
	border-radius: 100px;
/*	position: absolute;
	top: 0;
	left: 0;
	z-index: -1; */
	transition: all .4s;
}

.btn--white {
	background-color: #fff;
	color: #004055;
}

.btn--white::after {
	background-color: #fff;
}

.btn--animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*hide side menu scrollbar*/
/*@media screen and (-webkit-min-device-pixel-ratio:0) {*/
/*	.results-container, 
	.results {
		transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
	}*/
/*
	.results-container {*/
		/*right: 15px;*/
/*	}*/
/*}*/

@media only screen and (max-width: 640px) { 
	.heading-primary--main {
		letter-spacing: 12px;
	}

	.heading-primary--sub {
		letter-spacing: 6px;
	}

	.js-search-form {
		margin-top: -10px;
	}

}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
	header {
		background-color: red;
	}
}