html {
	background: url(../public/assets/StockSnap_UNBCSLVVVY.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top;
}

body {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.header__text-box {
	text-align: center;
	margin-top: 80px;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	backface-visibility: hidden;
}

.heading-primary--main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 39px;
	animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 9.4px;
	animation: moveInRight 1s ease-out;
}

.js-search-form {
	animation: moveInBottom 1s ease-out;
}

.arrow {
	position: relative;
	left: -8px;
	background: lightblue;
	padding: 8px 15px;
}

.arrow:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(32, 124, 202, 0);
	border-right-color: lightblue;
	border-width: 10px;
	margin-top: -10px;
}

input {
	font-size: 1.4em;
	font-family: 'Karla', sans-serif;
	color: #004055;
	text-align: center;
}

input::placeholder {
	color: #004055;
	font-weight: 600;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

.sidebar {
    width: 320px; 
    position: fixed; 
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    overflow: auto;
    animation: moveInRight .5s ease-out;
    color: #004055;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 100px;
	transition: all .2s;
}

.btn:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,.2); 
}

.btn:active {
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn::after {
	content: "";
	border-radius: 100px;
	transition: all .4s;
}

.btn--white {
	background-color: #fff;
	color: #004055;
}

.btn--white::after {
	background-color: #fff;
}

.btn--animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*hide side menu scrollbar*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.results-container, 
	.results {
		transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
	}

	.results-container {
		right: 15px;
	}
}

/*mobile styles*/
@media only screen { 
	.heading-primary--main {
		letter-spacing: 25px;
	}

	.heading-primary--sub {
		letter-spacing: 9px;
	}

	.js-search-form {
		margin-top: -10px;
	}

	#map,
	.sidebar {
		height: 85vh;
		width: 50%;
	}

	.new-search {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}

	.new-search-btn {
		margin-right: 10px;
		padding: 0 10px;
		font-size: 1em;
	}

	.results-btn {
		margin-left: 10px;
		padding: 0 10px;
		font-size: 1em;
	}
}

/*medium screens and above*/
@media only screen and (min-width: 568px) and (max-width: 767px) {
	.heading-primary--main {
		font-size: 80px;
	}

	.heading-primary--sub {
		font-size: 40px;
	}

	.js-search-form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 80px;
		font-size: 22px;
	}

	#map,
	.sidebar {
		height: 90vh;
	}

	.new-search {
		margin-top: 5px;
	}
}

@media only screen and (min-width: 768px) {
	.heading-primary--main {
		font-size: 80px;
	}

	.heading-primary--sub {
		font-size: 40px;
	}

	.js-search-form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 80px;
		font-size: 22px;
	}

	#map,
	.sidebar {
		height: 90vh;
	}
}

@media only screen and (min-width: 810px) and (max-width: 900px) {
	.new-search {
		margin-top: 5px;
	}	
}